@font-face {
  font-family: roboto-medium-italic;
  src: url(fonts/Roboto-MediumItalic.ttf);
}
@font-face {
  font-family: roboto-regular;
  src: url(fonts/Roboto-Regular.ttf);
}
body {
  height: 100vh;
  margin: 0px;
  background-color:#ECEFF4;
}

#topbar {
  display: flex;
  justify-content: center;
  padding: 30px 100px;
  background-color: #2e3440;
  backdrop-filter: blur(10px);
  font-family: roboto-regular;
  align-items: center;
  font-weight: 500;
  p {
    color: #5e81ac;
    font-size: 4em;
    margin: 0px;
  }
}
button {
  margin-left: auto;
  outline: none;
  border: none;
  background-color: #a3be8c;
  backdrop-filter: blur(5px);
  border-radius: 5px;
  color: #2e3440;
  font-weight: 700;
  font-size: 1.6em;
  height: 80%;
  padding: 20px 20px;
}
button:hover {
  background-color: #527139;
  color: #c1cbde;
}
#bookshelf {
  margin: 30px 30px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 400px);
  gap: 10px;
  justify-content: center;
  .bookcard {
    position: relative;
    color: #27272a;
    background-color: #EBCB8B;
    padding: 0px;
    height: 350px;
    width: 350px;
    border-radius: 10px;
    padding: 10px;
    display: grid;
    row-gap: 10px;
    grid-template-columns: repeat(auto, 1fr);
    * {
      box-sizing: border-box;
      font-family: roboto-regular;
      padding-left: 20px;
      height: 100%;
      width: 100%;
      margin: 0px;
      font-size: 1.5rem;
      border-radius: 5px;
    }
    p {
      display: flex;
      align-items: center;
      border-radius: 5px;
    }

    div {
      display: grid;
      grid-template-columns: 4fr 1fr;
      justify-content: center;
      align-items: center;
      label {
        padding: 0px;
        display: flex;
        align-items: center;
      }
      input {
        height: 35%;
        margin: 0px;
        border: 0px;
      }
    }
    .remove-book {
      padding: 0px;
      border: none;
      position: absolute;
      backdrop-filter: blur(20px);
      left: 95%;
      top: -3%;
      height: auto;
      width: auto;
      background-color: #d46e78;
      border-radius: 100%;
      img {
        padding: 0px;
        height: 2rem;
        width: auto;
        filter: invert(15%) sepia(49%) saturate(3367%) hue-rotate(346deg)
          brightness(92%) contrast(90%);
      }
    }
  }
}

dialog {
  font-family: roboto-regular;
  position: relative;
  outline: none;
    background-color: #434C5E;
  form {
    color: #ECEFF4;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(auto, 1fr);
    gap: 20px;
    label {
      align-self: center;
    }
    input {
      outline: none;
      background-color: #4C566A;
      border: 0px;
      color: #ECEFF4;
      font-family: roboto-regular;
      padding: 5px;
    }
  }
  border: 0px;
  border-radius: 10px;
  box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.1);
  button{
    height: 50px;
    padding:20px;
    text-align: center;
    display: flex;
    align-items: center;
  }
  #closemodal {
    position: absolute;
    left: 70%;
    top: 67%;
    height: 50px;
    background-color: #d46e78 ;
  }
  #closemodal:hover{
    background-color: #7f3f46;
  }
}
dialog::backdrop {
  background-image: white;
  backdrop-filter: blur(5px);
}
